

.content {
  width: 900px;
  margin: 50px auto;
}

.video-container {
  width: 1100px;
  margin: 25px auto;
}

h1{
        font-family:  Ubuntu, sans-serif;
        font-weight: 500;
        line-height: 40px;
      }

      h2 {
        font-family:  Ubuntu, sans-serif;
        font-weight: 700;
        line-height: 40px;
      }

      p {
        font-family:  Ubuntu, sans-serif;
        font-size: 18px;
        line-height: 31px;
      }
